body {
    background-color: #283747;
  }
  .tc
  {
    text-align:center;
    font-family: 'Hammersmith One', sans-serif;
    font-size:3em;
    letter-spacing:0.5em;
    color: #E1AC00;
     margin-bottom:50px;
      /* margin-top: 50px;  */
  }
  
          
      